<section id="contacts" class="section">
    <div class="section-content">
        <aside class="col g-5 section-content_col">
            <h3>Найти нас можно по адресу:</h3>
            <p class="highlight">
                Ангарск, Фестивальная улица, 43 <br />
                "Автоаптека"
            </p>
            <p>
                Тел: +7 (902) 579 301 <br />
                Email: <a href="mailto:avtoapteka@inbox.ru">avtoapteka@inbox.ru</a>
            </p>
        </aside>
        <div class="map">
            <script type="text/javascript" charset="utf-8"
                    src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=fOQybIvcGgMIKoux9liayM73RsD23Xwp&width=600&height=297"></script>
        </div>
    </div>
</section>