<header class="mobile">

    <div class="row">

        <div class="col full">

            <div class="logo">
                <a href="#"><img alt="" src="images/logo.png"></a>
            </div>

            <nav id="nav-wrap">

                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

                <ul id="nav" class="nav">
                    <li><a href="/works/">Виды работ</a></li>
                    <li><a href="/prices/">Прайсы</a></li>
                    <li><a href="/partners/">Партнеры</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                </ul>

            </nav>

        </div>

    </div>

</header>