<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Avtoapteka</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Underdog&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fonts.css">

    <link rel="shortcut icon" href="favicon.ico">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<header class="mobile">

    <div class="row">

        <div class="col full">

            <div class="logo">
                <a href="#">
                    Автоаптека
                    <!--<img alt="" src="/images/logo.png">-->
                </a>
            </div>

            <nav id="nav-wrap">

                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

                <ul id="nav" class="nav">
                    <li><a href="/works/">Виды работ</a></li>
                    <li><a href="/exclusive/">Эксклюзивные работы</a></li>
                    <li><a href="/partners/">Партнеры</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                </ul>

            </nav>

        </div>

    </div>

</header>

{% block content %}{% endblock %}

<footer>

    <div class="row">

        <div class="col g-7">
            <ul class="copyright">
                <li>Copyright &copy; 1992 Автоаптека</li>
                <!--<li>Design by <a href="http://www.styleshout.com/" title="Styleshout">Styleshout</a></li>-->
            </ul>
        </div>

        <div class="col g-5 pull-right">
            <ul class="social-links">
                <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
                <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
                <!--<li><a href="#"><i class="icon-google-plus-sign"></i></a></li>-->
                <!--<li><a href="#"><i class="icon-linkedin"></i></a></li>-->
                <!--<li><a href="#"><i class="icon-skype"></i></a></li>-->
                <!--<li><a href="#"><i class="icon-rss-sign"></i></a></li>-->
            </ul>
        </div>

    </div>

</footer>
</body>
</html>