<section id="prices" class="section">
    <div class="section-content">
        <div class="row section-head">
            <div class="full">

                <h2>Прайс <i class="icon-download-alt save-price" title="Скачать прайс"></i></h2>
                <p class="desc">Check out our latest projects.</p>

            </div>
        </div>
        <div class="row section-head">
            <div class=" full">
                <h3>Диагностика</h3>
                <table class="prices">
                    <thead>
                    <tr>
                        <td>
                            Наименование
                        </td>
                        <td>
                            Стоимость
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a href="works.html">Осмотр двигателя и подвески на предмет течей,люфтов, поломок  и износа деталей</a>
                        </td>
                        <td>
                            400 руб.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="works.html">Осмотр двигателя и </a>
                        </td>
                        <td>
                            400 руб.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="works.html">Осмотр двигателя и подвески на предмет течей</a>
                        </td>
                        <td>
                            400 руб.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="works.html">Осмотр</a>
                        </td>
                        <td>
                            По договоренности
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="works.html">Осмотр двигателя и подвески на предмет течей,люфтов, поломок  и износа деталей</a>
                        </td>
                        <td>
                            400 руб.
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3>Тормозная система</h3>
                <table class="prices">
                    <thead>
                    <tr>
                        <td>
                            Наименование
                        </td>
                        <td>
                            Стоимость
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a href="works.html">Осмотр двигателя и подвески на предмет течей,люфтов, поломок  и износа деталей</a>
                        </td>
                        <td>
                            400 руб.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="works.html">Осмотр двигателя и </a>
                        </td>
                        <td>
                            400 руб.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="works.html">Осмотр двигателя и подвески на предмет течей</a>
                        </td>
                        <td>
                            400 руб.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="works.html">Осмотр</a>
                        </td>
                        <td>
                            По договоренности
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="works.html">Осмотр двигателя и подвески на предмет течей,люфтов, поломок  и износа деталей</a>
                        </td>
                        <td>
                            400 руб.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="section-text">
            <span class="attention">Внимание!</span> Цены указанные в прайсе соответствуют ремонту среднестатистического
            автомобиля и могут изменятся в зависимости от сложности производимых работ для конкретной машины. Работы не
            входящие в прайс выполняются из расчета 900 рублей за час работы.
        </p>
    </div>

</section>