{% extends "page.html" %}

{% block title %}Виды работ{% endblock %}

{% block content %}
<section class="section" id="services">
    <div class="section-content">
        {% for work in works %}
            {{ render_work(work) }}
        {% endfor %}
    </div>
</section>
{% endblock %}

{% macro render_work(work, indent=1) %}
    {% if work.children %}
        {% set tag = 'h' ~ indent %}
    {% else %}
        {% set tag = 'li' %}
    {% endif %}

    <{{ tag }}>
        {{- work.title -}}
        {% if work.price -%}
            : {{ work.price }} руб.
        {%- endif %}

    </{{ tag }}>

    {% if work.children %}
        <ul>
            {% for child in work.children %}
                {{ render_work(child, indent=indent+1) }}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}


